
<div class="barra-tarefas fixed bottom-0 w-full h-10 flex bg-gray-700">
    <div class="botao h-10 w-12 flex items-center justify-center text-white cursor-pointer"
    [ngClass]="{
        'bg-gray-600': mostrarIniciar,
        'hover:bg-gray-600': !mostrarIniciar
    }
    " (click)="toogleIniciar()">
        <i class="bi bi-windows"></i>
    </div>
    <div class="programas h-10 flex gap-1.5">
        <!-- Sobre -->
        <div class="habilidades h-10 w-12 flex items-center justify-center cursor-pointer box-border border-amber-50 text-white hover:bg-gray-600 hover:border-b-6"
        [class.border-b-4]="mostrarSobre || minSobre" (click)="abrirSobre()">
            <img src="assets/icons/projects.png" alt="" class="w-6.5">
        </div>

        <!-- Skills -->
        <div class="habilidades h-10 w-12 flex items-center justify-center cursor-pointer box-border border-amber-50 text-white hover:bg-gray-600 hover:border-b-6"
        [class.border-b-4]="mostrarSkils || minSkills" (click)="abrirSkill()">
            <img src="assets/icons/skills.png" class="w-9" alt="">
        </div>

        <!-- Projetos -->
        <div class="habilidades h-10 w-12 flex items-center justify-center cursor-pointer box-border border-amber-50 text-white hover:bg-gray-600 hover:border-b-6"
        [class.border-b-4]="mostrarProjects || minProjects" (click)="abrirProjects()">
            <img src="assets/icons/chrome.svg" alt="" class="w-7">
        </div>
    </div>


    <!-- Icones -->
     <div class="text-white absolute right-20 flex justify-center items-center h-full p-2">
        <div class="p-2 hover:bg-gray-600" (click)="toogleIcons()">
            <i class="bi"
            [class.bi-caret-up]="!mostrarIcon"
            [class.bi-caret-down-fill]="mostrarIcon"></i>
        </div>
        <div class="h-10 p-2 hover:bg-gray-600">
            <i class="bi bi-battery-half"></i>
        </div>
        <div class="h-10 p-2 hover:bg-gray-600">
            <i class="bi bi-reception-4"></i>
        </div>
        <div class="h-10 p-2 hover:bg-gray-600">
            <i class="bi bi-volume-up"></i>
        </div>
     </div>

    <!-- Relógio -->
    <app-relogio/>
    
    <!--Fechar tudo-->
    <div class="w-3 h-full hover:bg-gray-900 hover:border-gray-900 absolute right-0 cursor-pointer border-l-2 border-gray-600" (click)="fecharTudo()"></div>
</div>



