<div class="barra-tarefas fixed bottom-0 w-full h-10 flex bg-gray-700">
    <div class="botao h-10 w-12 flex items-center justify-center text-white hover:bg-gray-600 cursor-pointer">
        <i class="bi bi-windows"></i>
    </div>
    <div class="programas h-10 flex gap-1.5">
        <div class="habilidades h-10 w-12 flex items-center justify-center hover:bg-gray-600 hover:border-b-4 cursor-pointer border-b-2 border-amber-50 box-border">
            <i class="bi bi-browser-chrome text-xl mb-1 text-white"></i>
        </div>
        <div class="habilidades h-10 w-12 flex items-center justify-center hover:bg-gray-600 hover:border-b-4 cursor-pointer border-b-2 border-amber-50 box-border" (click)="abrirSkill()">
            <i class="bi bi-clipboard-data-fill text-xl mb-1 text-white"></i>
        </div>
        <div class="habilidades h-10 w-12 flex items-center justify-center hover:bg-gray-600 hover:border-b-4 cursor-pointer border-b-2 border-amber-50 box-border">
            <i class="bi bi-broadcast-pin text-xl mb-1 text-white"></i>
        </div>
    </div>
</div>
