<div class="absolute top-2 right-2">
    <div class="container w-100 h-60 rounded-xl bg-amber-50 relative shadow-2xl z-50">
        <div class="top w-full h-7 bg-neutral-700 absolute top-0 ">
            <div class="buttons flex gap-3 w-8 h-full absolute right-0 top-0 items-center justify-center mr-1 z-50">
                <div class="close h-3.5 w-3.5 bg-red-500 rounded-xl cursor-pointer hover:bg-red-700" (click)="fecharModal()"></div>
            </div>
        </div>
        
        <div class="container flex w-full h-full items-center flex-col text-center pt-15 pl-3 pr-3 box-border pb-3 gap-10">
            <p class="font-bold text-2xl">
                <i class="bi bi-exclamation-triangle-fill text-red-600 mr-2"></i>
                Em Desenvolvimento
                <i class="bi bi-exclamation-triangle-fill text-red-600 ml-2"></i>
            </p>
            <p class="text-justify indent-5">Site ainda em processo de desenvolvimento, peço desculpas em caso de alguns bugs/problemas, ainda estou no processo de montagem.</p>
        </div>
    </div>
</div>