<div #modalContainer class="absolute top-2 right-2">
    <div class="container w-100 h-58 rounded-xl bg-gray-50 relative shadow-2xl z-50">
        <div class="top w-full h-7 bg-neutral-700 absolute top-0 ">
            <div class="buttons flex gap-3 w-8 h-full absolute right-0 top-0 items-center justify-center mr-1 z-50">
                <div class="close h-3.5 w-3.5 bg-red-500 rounded-xl cursor-pointer hover:bg-red-700" (click)="fecharModal()"></div>
            </div>
        </div>
        
        <div class="container flex w-full h-full items-center flex-col text-center pt-11 pl-3 pr-3 box-border pb-3 gap-3">
            <div class="w-full h-0.5 rounded-2xl bg-gray-200"></div>
            <p class="font-bold text-2xl flex items-center gap-2">
                <img src="assets/icons/alerta.svg" class="w-10" alt="">
                Em Desenvolvimento
                <img src="assets/icons/alerta.svg" class="w-10" alt="">
            </p>
            <div class="w-full h-0.5 rounded-2xl bg-gray-200"></div>
            <p class="text-justify indent-5">Site ainda está em processo de desenvolvimento, peço desculpas em caso de alguns bugs/problemas, ainda estou no processo de montagem.</p>
        </div>
    </div>
</div>