.top {
  border-radius: 12px 12px 0 0;
}

.banco-dados {
  border-radius: 20px;
  box-shadow: 5px -5px 20px rgba(0, 0, 0, 0.434);
}

.front-end {
  border-radius: 20px;
  box-shadow: 5px 5px 20px rgba(0, 0, 0, 0.434);
}

.back-end {
  border-radius: 20px;
  box-shadow: -5px 5px 20px rgba(0, 0, 0, 0.434);
}
