/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

body {
  background-image: url("./app/assets/bg/windows_xp.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
