.top {
  border-radius: 12px 12px 0 0;
}
.img {
  background-image: url("../../../../../assets/pictures/eu-remove.png");
  width: 100%;
  height: 100%;
  background-color: blue;
}

.sem-scroll::-webkit-scrollbar {
  display: none;
}
.sem-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
